/**
 * Created by PhpStorm.
 * Script Name: common.css
 * Create: 2020/9/28 10:26
 * Description: 
 * Author: fudaoji<fdj@kuryun.cn>
 */

body {
    margin: 5px;
    background: #f2f2f2;
}
.layui-layout-admin .layui-body{padding-bottom: 0;}
.layuimini-tool {left: 200px;}
.layui-layout-left {left: 260px !important;}
.layuimini-menu-left .layui-nav .layui-nav-more {top: 40%;}
.layui-nav .layui-nav-item a{padding: 0 15px;}
.layuimini-logo img{border-radius: 2px;}
/*.layuimini-logo img{visibility: hidden;width: 0;}
.layui-layout-admin .layuimini-logo h1{margin: 0;}*/
.hide{display: none;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 5px;
}
.layui-tab-content{
    padding: 5px 0;
}
/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}
.error-msg,.text-danger{color: red;}
.form-tip{color: #a29c9c;}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

#form-btn-group{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #fff;
    width: 100%;
}
#ajax-form{
    padding-bottom: 60px;
}

/*blockquote 样式*/
.layui-elem-quote-right{
    border-left: none;
    border-right: 5px solid #16b777;
}