<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{block name="meta_title"}{/block}</title>
    <meta name="keywords" content="" class="next-head">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <!--https://vant-contrib.gitee.io/vant/v2/-->
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://zyx.images.huihuiba.net/libs/vant/index_21220.min.css"/>
    {block name="css"} {/block}

    <script src="https://zyx.images.huihuiba.net/libs/vue.min.js"></script>
    <script src="https://zyx.images.huihuiba.net/libs/vant/vant_21220.min.js"></script>
    <script>

    </script>
</head>
<body>

<div id="app">
    {block name="header"}{/block}
    {block name="content"} {/block}
</div>

{block name="js"} {/block}
</body>
</html>