<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:config('system.site.app_title')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <!--<link rel="stylesheet" href="__LIB__/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">-->
    <link rel="stylesheet" href="__LIB__/layui/2.8.1/css/layui.css" media="all">
    <link rel="stylesheet" href="__LIB__/layuimini/css/layuimini.css" media="all">
    <link rel="stylesheet" href="__LIB__/layuimini/css/themes/default.css" media="all">
    <link rel="stylesheet" href="__LIB__/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="layuimini-bg-color"></style>
    <link rel="stylesheet" href="__CSS__/admin/common.css?v=1" media="all">

    <script src="__LIB__/layui/2.8.1/layui.js" charset="utf-8"></script>
    <script src="__LIB__/layuimini/js/lay-config.js" charset="utf-8"></script>
    <script src="__JS__/admin/common.js"></script>
</head>
<body >
<div class="layuimini-container">
    <div class="layuimini-main">
        {__CONTENT__}
    </div>
</div>
</body>
</html>
