<div class="system-message">
    <?php switch ($code) {?>
    <?php case 1:?>
    <h1>:)</h1>
    <p class="success"><?php echo(strip_tags($msg));?></p>
    <?php break;?>
    <?php case 0:?>
    <h1>:(</h1>
    <p class="error"><?php echo(strip_tags($msg));?></p>
    <?php break;?>
    <?php } ?>
    <p class="detail"></p>
    <p class="jump">
        页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
    </p>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>